<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.agribigdata.mapper.ArticleMapper">
    <select id="getPz" resultType="java.lang.String">
        select distinct pz from article_guide
        <where>
            <if test="name != null and name != ''">
                pz LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="getGuideArticle" resultType="com.agri.agribigdata.entity.vo.ArticleGuideVO">
        select * from article_guide
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE CONCAT('%', #{pz}, '%')
            </if>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND release_date >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= release_date
            </if>
        </where>
        order by ABS(DATEDIFF(NOW(),release_date))
    </select>

    <select id="getNewsArticle" resultType="com.agri.agribigdata.entity.vo.ArticleNewsVO">
        select * from article_news
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND release_date >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= release_date
            </if>
        </where>
        order by ABS(DATEDIFF(NOW(),release_date))
    </select>
</mapper>