<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.agribigdata.mapper.PriceMapper">

    <select id="getMarketByPrvcAndName" resultType="java.lang.String">
        select distinct market from price_market
        <where>
            <if test="name != null and name != ''">
                market LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="prvc != null and prvc != ''">
                AND prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
        </where>
    </select>

    <select id="getPz" resultType="java.lang.String">
        select distinct pz from price_market
        <where>
            <if test="name != null and name != ''">
                pz LIKE #{pz}
            </if>
            <if test="prvc != null and prvc != ''">
                AND prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="market != null and market != ''">
                AND market LIKE CONCAT('%', #{market}, '%')
            </if>
        </where>
    </select>

    <select id="getTopRise" resultType="com.agri.agribigdata.entity.vo.PriceTopRiseVO">
        select * from price_rise
        <where>
            <if test="prvc != null and prvc != ''">
               prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            and release_date = CURDATE()-1
        </where>
        order by rise ASC
    </select>

    <select id="getTopFall" resultType="com.agri.agribigdata.entity.vo.PriceTopFallVO">
        select prvc, pz, price, fall_value as fall, release_date from price_fall
        <where>
            <if test="prvc != null and prvc != ''">
               prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            and release_date = CURDATE()-1
        </where>
        order by fall_value ASC
    </select>

    <select id="getPriceByPriceBO" resultType="com.agri.agribigdata.entity.po.PricePO">
        select * from price_market
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="prvc != null and prvc != ''">
                AND prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="market != null and market != ''">
                AND market LIKE CONCAT('%', #{market}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND release_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= release_time
            </if>
        </where>
        order by ABS(DATEDIFF(NOW(),release_time))
        limit #{pageSize} offset #{offset}
    </select>

    <select id="getPriceCount" resultType="java.lang.Integer">
        select count(*) from price_market
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="prvc != null and prvc != ''">
                AND prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="market != null and market != ''">
                AND market LIKE CONCAT('%', #{market}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND release_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= release_time
            </if>
        </where>
    </select>

    <select id="getPerPzWeekPartialHL" resultType="com.agri.agribigdata.entity.po.PricePerPzWeekPO">
        select * from per_pz_week
        <where>
            <if test="prvc != null and prvc != ''">
            prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="pz != null and pz != ''">
            AND pz LIKE #{pz}
            </if>
        </where>
        limit 1
    </select>

    <select id="getPriceByPz" resultType="com.agri.agribigdata.entity.po.PricePO">
        select prvc, pz, average,release_time from price_prvc
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="pz != null and pz != ''">
                AND pz LIKE #{pz}
            </if>
        </where>
        union
        select prvc, pz, average,release_time from price_prvc_predict
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="pz != null and pz != ''">
                AND pz LIKE #{pz}
            </if>
        </where>
    </select>

    <select id="getPerPzTodayNational" resultType="com.agri.agribigdata.entity.po.PricePerPzTodayPO">
        select * from per_pz_today
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="pz != null and pz != ''">
                AND pz LIKE #{pz}
            </if>
        </where>
        limit 1
    </select>

    <select id="getPerMarketTodayPrice" resultType="com.agri.agribigdata.entity.po.PricePerMarketTodayPO">
        select * from per_market_today
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
        </where>
        limit 1
    </select>

    <select id="getPriceByPzList" resultType="com.agri.agribigdata.entity.po.PricePO">
        select market, prvc, pz, average,release_time from price_market
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
            <if test="pzList != null and pzList.size()>0">
                AND pz in
                 <foreach item="singlePz" collection="pzList" open="(" separator="," close=")">
                     #{singlePz}
                 </foreach>
            </if>
        </where>
        union
        select market, prvc, pz, average,release_time from price_market_predict
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
            <if test="pzList != null and pzList.size()>0">
                AND pz in
                <foreach item="singlePz" collection="pzList" open="(" separator="," close=")">
                    #{singlePz}
                </foreach>
            </if>
        </where>
        order by release_time ASC
    </select>

    <select id="getPerMarketWeekPrice" resultType="com.agri.agribigdata.entity.po.PricePerMarketWeekPO">
        select * from per_market_week
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
        </where>
        limit 1
    </select>

    <select id="getPerPzTodayPrice" resultType="com.agri.agribigdata.entity.po.PricePerPzTodayPO">
        select * from per_pz_today
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
        </where>
        limit 1
    </select>

    <select id="getPerPzWeekPrice" resultType="com.agri.agribigdata.entity.po.PricePerPzWeekPO">
        select * from per_pz_week
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
        </where>
        limit 1
    </select>

    <select id="getPriceByMarketList" resultType="com.agri.agribigdata.entity.po.PricePO">
        select market, prvc, pz, average,release_time from price_market
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="marketList != null and marketList.size()>0">
                AND market in
                <foreach item="singleMarket" collection="marketList" open="(" separator="," close=")">
                    #{singleMarket}
                </foreach>
            </if>
        </where>
        union
        select market, prvc, pz, average,release_time from price_market_predict
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE CONCAT#{pz}
            </if>
            <if test="marketList != null and marketList.size()>0">
                AND market in
                <foreach item="singleMarket" collection="marketList" open="(" separator="," close=")">
                    #{singleMarket}
                </foreach>
            </if>
        </where>
        order by release_time ASC
    </select>

    <select id="getPriceByPzWithoutPrediction" resultType="com.agri.agribigdata.entity.po.PricePO">
        select prvc, pz, average,release_time from price_prvc
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
            <if test="pz != null and pz != ''">
                AND pz LIKE #{pz}
            </if>
        </where>
        order by release_time ASC
    </select>

    <select id="getPriceByPzListWithoutPrediction" resultType="com.agri.agribigdata.entity.po.PricePO">
        select market, prvc, pz, average,release_time from price_market
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
            <if test="pzList != null and pzList.size()>0">
                AND pz in
                <foreach item="singlePz" collection="pzList" open="(" separator="," close=")">
                    #{singlePz}
                </foreach>
            </if>
        </where>
        order by release_time ASC
    </select>

    <select id="getPriceByMarketListWithoutPrediction" resultType="com.agri.agribigdata.entity.po.PricePO">
        select market, prvc, pz, average,release_time from price_market
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="marketList != null and marketList.size()>0">
                AND market in
                <foreach item="singleMarket" collection="marketList" open="(" separator="," close=")">
                    #{singleMarket}
                </foreach>
            </if>
        </where>
        order by release_time ASC
    </select>

    <select id="getBriefMarketPz" resultType="com.agri.agribigdata.entity.po.BriefMarketPzPO">
        select * from brief_market_pz
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="market != null and market != ''">
                AND market LIKE CONCAT('%', #{market}, '%')
            </if>
        </where>
    </select>

    <select id="getBriefPrvcPz" resultType="com.agri.agribigdata.entity.po.BriefPrvcPzPO">
        select * from brief_prvc_pz
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
            <if test="prvc != null and prvc != ''">
                AND prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
        </where>
    </select>

    <select id="getBriefPrvc" resultType="com.agri.agribigdata.entity.po.BriefPrvcPO">
        select * from brief_prvc
        <where>
            <if test="prvc != null and prvc != ''">
                prvc LIKE CONCAT('%', #{prvc}, '%')
            </if>
        </where>
    </select>

    <select id="getBriefMarket" resultType="com.agri.agribigdata.entity.po.BriefMarketPO">
        select * from brief_market
        <where>
            <if test="market != null and market != ''">
                market LIKE CONCAT('%', #{market}, '%')
            </if>
        </where>
    </select>

    <select id="getBriefPz" resultType="com.agri.agribigdata.entity.po.BriefPzPO">
        select * from brief_pz
        <where>
            <if test="pz != null and pz != ''">
                pz LIKE #{pz}
            </if>
        </where>
    </select>


</mapper>